.image-load-btn
  input
    display none
  label
    display flex
    align-items center
    justify-content center
    height 30px
    border 2px solid aliceblue
    width 200px
    cursor pointer
    text-align center
    margin 20px auto
